<!DOCTYPE html>
<html>
<head>
	<title>David's Home</title>
</head>
<body>
	<h1>David's Home</h1>
	<p>
	Hello everyone! Welcome to my home page.
	Here are some important links listed below:
	</p>
	<ul>
		<li>blog</li>
	</ul>

	<h2>Courses (audio):</h2>
	<ul>
		<li>MIT 6.172 Performance Engineering of Software Systems, Fall 2018
			<ul>
            {% for item in recordings %}
                <li>
                    <a href="{{ item.link }}">{{ item.caption }}</a>
                </li>
            {% endfor %}
			</ul>
		</li>
	</ul>

</body>
</html>